.container{
    width: 16vh;
    height: 15vh;
    background-color: $blanco;
    @include po;
    bottom: 8vh;
    margin: auto;
    z-index: 300;
    padding: 3px 0;
    border-radius: 50%;

    .foto{
        width: 15vh;
        height: 15vh;
        background-image: url(/assets/img/perfil.png);
        background-repeat: no-repeat;
        background-size: $all $all;
        margin: auto;
    }
}