.container{
    width: 16vh;
    height: 15vh;
    background-color: $blanco;
    @include po;
    bottom: 8vh;
    margin: auto;
    z-index: 300;
    padding: 3px 0;
    border-radius: 50%;

    .foto{
        width: 15vh;
        height: 15vh;
        background-image: url(https://i.pinimg.com/originals/a8/5c/a7/a85ca7d1e34e5a8b64ca57d1cd90392b.png);
        background-repeat: no-repeat;
        background-size: $all $all;
        margin: auto;
    }
}