.fondo{
    width: $all;
    height: 20vh;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/81/388/855/anime-cityscape-landscape-scenery-wallpaper-preview.jpg);
    background-size: $all $all;
    border-radius: 1rem 1rem 0rem 0rem;
}