@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500&display=swap");
body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/004/256/686/large_2x/abstract-dark-pink-gradient-geometric-background-modern-background-design-wave-liquid-shapes-composition-creative-templates-fit-for-presentation-design-website-basis-for-banners-wallpapers-free-vector.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  display: flex;
  overflow-y: hidden;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  margin: 15vh 35vw;
  border-radius: 1rem;
  box-shadow: 0 0 10px 1px;
}

.container {
  width: 16vh;
  height: 15vh;
  background-color: rgb(255, 255, 255);
  position: relative;
  bottom: 8vh;
  margin: auto;
  z-index: 300;
  padding: 3px 0;
  border-radius: 50%;
}
.container .foto {
  width: 15vh;
  height: 15vh;
  background-image: url(https://i.pinimg.com/originals/a8/5c/a7/a85ca7d1e34e5a8b64ca57d1cd90392b.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
}

.fondo {
  width: 100%;
  height: 20vh;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/81/388/855/anime-cityscape-landscape-scenery-wallpaper-preview.jpg);
  background-size: 100% 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

.informacion {
  margin-top: -8vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0rem 0rem 1rem 1rem;
}
.informacion h2, .informacion h3, .informacion h4, .informacion h5 {
  font-family: "Rubik";
  font-weight: 400;
}
.informacion .nombre-ciudad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 17.5vh;
  padding: 1.5vh 0 1vh 0;
}
.informacion .nombre-ciudad .nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  right: 0.55vw;
  bottom: 1.5vh;
}
.informacion .nombre-ciudad .nombre h3 {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.25em;
  margin-left: 1.65em;
}
.informacion .nombre-ciudad .nombre .editar-nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 0.1vh;
  margin-left: 0.25em;
  transition: transform 0.05s;
  color: rgba(0, 0, 0, 0);
}
.informacion .nombre-ciudad .nombre .editar-nombre:hover {
  transform: scale(105%);
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.informacion .nombre-ciudad .nombre .editar-nombre:active {
  transform: scale(95%);
}
.informacion .nombre-ciudad .nombre #h3_nombre:hover ~ .editar-nombre {
  color: rgba(0, 0, 0, 0.5);
}
.informacion .nombre-ciudad .ciudad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  left: 0.6vw;
  bottom: 1.5vh;
}
.informacion .nombre-ciudad .ciudad .editar-ciudad {
  position: relative;
  bottom: 1.75vh;
  left: 0.2vw;
  color: rgba(0, 0, 0, 0);
}
.informacion .nombre-ciudad .ciudad .editar-ciudad:active {
  transform: scale(95%);
}
.informacion .nombre-ciudad .ciudad .editar-ciudad:hover {
  transform: scale(105%);
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.informacion .nombre-ciudad .ciudad #h4_ciudad {
  margin-top: -1vh;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 0.8em;
}
.informacion .nombre-ciudad .ciudad #h4_ciudad:hover ~ .editar-ciudad {
  color: rgba(0, 0, 0, 0.5);
}
.informacion hr {
  width: 99%;
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: -1vh;
}
.informacion .follow-like-photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 0rem 0rem 1rem 1rem;
  padding-bottom: 1vh;
}
.informacion .follow-like-photo .flp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 4.5vw;
  position: relative;
  margin: 0 2vw;
}
.informacion .follow-like-photo .flp h2 {
  font-weight: 500;
  font-size: 1em;
  position: relative;
  top: 3vh;
}
.informacion .follow-like-photo .flp h5 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-size: 0.8em;
  bottom: 1.5vh;
  transition: transform 0.025s;
}
.informacion .follow-like-photo .flp h5:active {
  transform: scale(95%);
}
.informacion .follow-like-photo .flp h5:hover {
  transform: scale(105%);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */